body{
    background-image: url("https://gitlab.com/blackveriun/blackveriun_dev/-/raw/master/kiseki/img/love.JPG");
    
}

h3{
  text-align: center;  
}

.foto{
    border: silver 10px solid;

    border-image-slice: 10;
  
    padding: 10px;
    text-align: justify;
}